:root {
  --couleur-primaire-vert: #C6FF8F;
  --couleur-secondaire-vert: #74b239; 
  --couleur-primaire-bleu: #006FFF;  
  --couleur-secondaire-bleu: #1f5bab;      
}


 *{
  /*border: red 1px dotted;*/
	padding: 0px; 
	margin: 0px;
	font-size: 16px;
}


html, body{
    height: 100%;

}

body{
	background-color:white;
	font-family: Arial;
	margin: 0; 
	z-index: 0;
}






.logo{
	float: left;
    height: 70px;
    width: auto;
    margin-top: 0px; 
    margin-right: 20px;
    box-shadow: none;    	
}

.bouton_noir {
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  line-height: 40px; 
  margin-left: 30px;
  cursor: pointer;
}

.bouton_bleu{
width: 200px;
  background-color: var(--couleur-primaire-bleu);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin:3px;
  display:inline-block;
}
.bouton_bleu2{
width: 350px;
  background-color:var(--couleur-primaire-bleu);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin:6px;margin-left:50px;
  display:inline-block;
}
.bouton_bleu2:hover{
  background-color: white ;
}
.bouton_retour{
display: block;
  width: 30%;
  margin: 0 auto; /* centre horizontalement */
  margin-bottom: 50px;
  background-color: var(--couleur-primaire-bleu);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.bouton_retour:hover{
  background-color: white ;
  color: var(--couleur-primaire-bleu);
}





    /* ===== NAVBAR ===== */
	.navbar{
	height: 75px;
    display: flex;
	position:fixed;
	align-items: center;
    justify-content: space-between;
	top:0;
	width:96%;
	text-align: right;
    line-height: 70px;       
	padding:0 3% 0 1%; 
  	background: linear-gradient(to right,#5BA2FF,#C6FF8F );
    font-size: 30px;
    z-index: 10;
	}

.nav-gauche img{
      height: 100px; 
    }

    .nav-center {
      cursor: pointer;
      font-size: 2rem;
      font-weight: bold;
      font-family: Cursive;
    }

  .nav-droite img {
    cursor: pointer;
    height: 30px;
    margin-left: 15px; 
  }


.nav-droite {
  display: flex;
  align-items: center; 
  gap: 15px; }




header {
	height: 100px;
    display: flex;
	position:fixed;
	align-items: center;
    justify-content: space-between;
	top:0;
	width:96%;
	text-align: right;
    line-height: 70px;       
	  padding:0 3% 0 1%; 
  	background: linear-gradient(to right,#5BA2FF,#C6FF8F );
    font-size: 30px;
    z-index: 10;
}

footer {
    width: 100%;          
    margin-left: 0px;
	  padding:0 3% 0 1%; 
    height: 70px;
    line-height: 70px;
    margin-top: 30px;
    background: linear-gradient(to right,#5BA2FF,#C6FF8F);
    box-sizing: border-box;
    position: relative;    
    left: 0;
}


a{
 vertical-align: middle;
 color:white;
 text-decoration:none;
}

h1{
  padding-top: 100px;
	font-size:50px;
	text-align: center;
	margin-bottom:30px;
}

#hcompte{
    padding-top: 0px;
}

h3{
	font-size:30px;
	text-align: left;
	margin:20px;
}
.text{
 width: 50%;
float: left;
margin-right: 20px; 
}

p{
margin:20px;
text-align:justify;
line-height:1.6;
}
.conteneur {
    overflow: hidden; 
    margin: 20px;
    text-align:center;
}
#page_accueil {
    width: 40%;        
    float: right;      
    height: auto;      
    margin-left: 20px; 
    margin-top: 100px;   
}

.c{
	text-align:center;
	/* Ici tu peux modifier si tu le souhaites tes informations personnelles */

font-family: sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 145%;
letter-spacing: -0.005em;
color:gray;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;

}
.h{
	background-color:silver;
	width:500px;
	border-radius:10px;
	padding:10px;
	text-align:center;
	margin-left:auto;margin-right:auto;
	margin-top:50px;
}


form {
	width:600px;height:80%;
	margin-left:auto;margin-right:auto; 
}

form p {margin-top:50px;}

.barre{
	width:50%;height:45px;
	border-radius:10px;
	margin-left:3%;
}
.barre2{
	width:50%;height:45px;
	border-radius:10px;
	margin-left:3%;
	box-shadow: 0 5px 15px silver;
}


.suivant{
	width: 200px;
  background-color: var(--couleur-primaire-bleu);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  display:block;
	margin-left:auto;margin-right:auto;margin-top:25px;
}
.quest{
	border:red dotted 2px;
}
input{
	padding-left:10px;
}
.col{
	display:inline-block;width:80px;
	margin:5%;
	margin-top:10px;margin-bottom:10px;
}
.lign{
	display:block;width:80px;
	margin:5%;
	margin-top:10px;margin-bottom:10px;
}
.pfl{
	padding-left:150px;height:auto;margin:0px;padding-top:50px;
}
.pfl p {
	margin:0px;
}
.pfl input{
	margin:0px;
}

.perso{
	/* Ellipse 5 */

	border-radius:100%;
	position: absolute;
	width: 500px;
	height: 500px;
	left: 65%;
	top: 25%;
	border: 7px solid #359FB5;

	/* Inside auto layout */
	flex: none;
	order: 3;
	flex-grow: 0;
	z-index: 3;

}

.pied{
	position:fixed;bottom:0;z-index:2;
	
}

.perso2{
	/* Ellipse 5 */
	display:block;
	text-align:center;
	border-radius:100%;
	width: 200px;
	height: 200px;
	border: 7px solid #359FB5;
	background-color:black;
	margin-left:auto;margin-right:auto;margin-top:50px;

}

.insc{
	background-color:white;border:silver solid 1px;
	width:40%;height:550px;margin-left:auto;margin-right:auto;margin-top:100px;padding:50px;
	border-radius:40px;box-shadow: 0px 4px 19px 14px rgba(123, 250, 104, 0.17);
}



.barre3{
	width:90%;border-radius:10px;height:50px;margin-left:auto;margin-right:auto;border:silver solid 2px;margin-bottom:50px;display:block;
}
h2{text-align:center;font-family: sans-serif;font-size:25px;margin-bottom:70px;}

.barre4{
	width:90%;border-radius:10px;height:50px;margin-left:auto;margin-right:auto;border:silver solid 2px;margin-bottom:50px;display:block;background-color:#CFFAF5;
		
}

.bouton_noir2{
	width: 300px;display:block;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  margin-right:auto;margin-left:auto;margin-top:0px;
}
.bouton_noir2:hover{
	color:black;background-color:white;
}
.mdpt{
	color:black;
}

.simulateur {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  width: 92vw; 

  background-color: transparent; 
  margin-top: 50px;
margin-bottom: 30px;
  border-radius: 0;
  box-shadow: none;
}


.sliders {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 500px;
}


.sliders label {
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.scale {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  margin-top: 3px;
  margin-bottom: 12px;
  padding: 0 9px; /* même que la barre */
  box-sizing: border-box;
}
.simulateur .sliders input[type="range"] {
    width: 100%;
}

.slider {
  width: 100%;
  appearance: none;
  height: 6px;
  background: #a7c5ff;
  border-radius: 5px;
  outline: none;
  padding: 0 9px; /* moitié du thumb */
  box-sizing: border-box;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  background: var(--couleur-primaire-bleu);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
}

.resultat {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 250px;
  text-align: center;
}

.resultat h2 {
  font-size: 3rem;
  margin: 0;
  color: #000;
}

.resultat p {
  margin-top: 1rem;
  color: #333;
  font-size: 0.95rem;
  line-height: 1.4;
}


/*  BLOC */

.bloc {
  margin-left: 35%;
  margin-top: 10px;
  display: inline-block;   
  background-color: var(--couleur-primaire-bleu);
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease; 
}

.bloc a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}


.bloc:hover {
  transform: scale(1.05);
  background-color: var(--couleur-secondaire-bleu);
}

.connexion{
  margin: 0;
  padding: 0;
  display: flex;        
  justify-content: center;    
  align-items: center;
  height: 50px;

	width: 100px;
  background-color: gray;
}

.connexion:hover{
  background-color: rgb(94, 88, 88);
}



.txt_intro{
  text-align: center;
}






                                                                /* MON COMPTE */


.container {
    width: 100%;

    margin-top: 20px;
    text-align: center;
}

.profile img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
.profile{
padding-top: 100px;

}

h1 {
    font-size: 35px;
    margin: 15px 0 5px 0;
}

.subtitle {
    margin-bottom: 30px;
    color: #555;
}

.content {
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

/* LEFT BUTTONS */
.left {
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.left button {
    padding: 12px 20px;
    width: 80%;
    margin: auto;
    font-size: 15px;
    background-color: var(--couleur-primaire-bleu);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.2s;
}

.left button:hover {
    background-color: var(--couleur-secondaire-bleu);
}

/* RIGHT SIDE */
.right {
    width: 50%;
}

.left .bloc{

  width:  90%;
  margin-left: 3%;
}

/* Calendar card */
.calendar {
    background: var(--couleur-primaire-bleu);
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin-bottom: 15px;
}

.calendar h3 {
    margin-top: 0;
}


/* Today box */
.today {
    text-align: left;
    padding-left: 10px;
}

.today h4 {
    margin-bottom: 5px;
}

                                                  /* TABLEAU DE BORD */

 
#myChart {
  
    width: 70% !important;
    height:300px !important; /* hauteur fixe visible */
    display: block;
    margin: 0 auto 20px auto; /* espace en bas pour sous-titre ou légende */
}

.barre4 p {
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
    color: #333;
}

.barre4 + .barre4 {
    margin-top: 40px;
}



/* ======================== Forum ======================= */
/* Titres des champs */
#formulaire_nouveau_sujet p {
    margin: 10px 0 5px 0;
    font-weight: bold;
}

/* Inputs + textarea */
#formulaire_nouveau_sujet input,
#formulaire_nouveau_sujet textarea {
    display: block;
    width: 100%;
    margin: 5px auto 15px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

/* Hauteur mini du texte */
#formulaire_nouveau_sujet textarea {
    min-height: 150px;
    margin-bottom: 0px;
}

/* Messages d’erreur/d’infos sous les champs */
#formulaire_nouveau_sujet .msg {
    margin-left: 2.5%;
    font-size: 12px;
}
#formulaire_nouveau_sujet {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height: auto;
}
.btn_like_comm{
  background-color: white;
}
#bouton_bleu_nouveau_sujet:hover{
	color:var(--couleur-primaire-bleu);
	background-color:white;
}

#bouton_bleu_nouveau_sujet{
display: block;
  width: 200px;
  margin: 0 auto; /* centre horizontalement */
  background-color: var(--couleur-primaire-bleu);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}

.btn_delete_com{
background-color: white;
padding: 4px;
margin-left: 10px;
border-radius: 5px;
border: none;
color: red;
}
.btn_delete_com:hover{
color: white;
background-color: red;
}

.btn_supp_sujet{
border: none;
background-color: white;
padding: 4px;
border-radius: 5px;
float: right;
color: red;
}
.btn_supp_sujet:hover{
color: white;
background-color: red;
}

.btn_like_comm{
padding: 4px;
border-radius: 5px;
border: none;
}

.btn_like_comm:hover{
background-color: var(--couleur-primaire-bleu);
}

#liste_sujets{
display: flex;
    flex-direction: column;
    gap: 30px; /* espace entre chaque sujet */
    margin: 50px;
  }
.sujet{
  background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 50px;
    position: relative;
}

.commentaires{
  border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 50px;
    margin-top: 15px; /* espace entre le sujet et ses commentaires */
    background-color: #f9f9f9;
}

.liste-commentaires {
  display: flex;
  flex-direction: column;
  gap: 10px; /* espace entre chaque commentaire */
}
.sujet h3 {
    margin-top: 0;
    margin-bottom: 10px;
}
.sujet p {
    text-align: justify;
    line-height: 1.6;
}

textarea + button {
    background-color: var(--couleur-primaire-bleu);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    float: right;
}
.commentaires .comment {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 8px;
    background-color: #fff;
}
.commentaires textarea {
    width: 100%;
    height: 70px;
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
    
}

.com{
  position: absolute;
  right: 15px;
  bottom: 10px;

}
#footer_forum {
    width: 100vw;       
    margin-left: -60px;
    padding: 0 20px;        /* padding interne, pas de margin */
    height: 70px;
    line-height: 70px;
    background: linear-gradient(to right,#5BA2FF,#C6FF8F);
    box-sizing: border-box;
    position: relative;     /* ou fixed si sticky */
    left: 0;
}


#nous_page{ 
  background-image: url(../images/photo_nous.jpg); 
  background-repeat: no-repeat; 
  background-size: cover; 
  margin: 0; 
  padding: 0; 
  min-height: 100vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  position: relative; 
} 
  
#nous_page h1{ 
  color: white; 
  font-size: 4rem; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  text-align: left; 
  margin-top : 20px;
  font-weight: bold; 
}
  
#nous_page p{
  font-weight: bold;
  font-size: 20px;
  color:white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

#nous_page ul{
  color : white;
  padding: 0; 
  margin: 20px 0 0 0; 
}

#nous_page .logo{
  position: absolute;
  top: 20px;
  left: 20px;
}